<%= form_for(service) do |f| %>
<% if service.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(service.errors.count, "error") %>
        prohibited this service from being saved:</h2>

    <ul>
        <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.text_field :title, placeholder: :title %>
</div>

<div class="field">
    <%= f.text_area :description, placeholder: :description %>
</div>

<% if @student.nil? %>
<div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
</div>
<% else %>
<%= f.hidden_field :student_id, value: @student.id %>
<% end %>

<div class="align-center">
    <%= submit_tag @tag, name: f, class: 'button' %>
</div>

<% end %>
