
    <table class="hover">
         <caption><%= link_to 'Services', services_path %></caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Student</th>
            </tr>
        </thead>

        <tbody>
            <% @services.each do |service| %>
            <tr>
                <td><%= link_to service.title, service %>
                    <!-- <%= link_to fa_icon('pencil'), edit_service_path(service) %>
                    <%= link_to fa_icon('trash'), service, method: :delete, data: { confirm: 'Are you sure?' } %> -->
                  </td>
                <td><%= service.description %></td>
                <td><%= link_to service.student.name, service.student %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
