<p id="notice"><%= notice %></p>

<%= form_tag(services_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "service title" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @services.find_by(title: @search) %>
<% @services = @services.where(title: @search) %>
<% end %>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.title %></td>
        <td><%= service.description %></td>
        <td><%= service.student.name %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', '/' %> |
<%= link_to 'Index', '/index' %>
