<div class="container">

  <div class="nav">
    <div class="links">
      <%= link_to 'Home', '/' %>
      <%= link_to 'Index', '/index' %>
    </div>
    <div class="searcher">
    <%= render 'search' %>
    </div>
  </div>

<h1>Services</h1>
<div class="list">
<%= render 'table' %>
</div>


<p id="notice"><%= notice %></p>
</div>
