<div class="school-body">

  <div class="school-nav">
    <div class="school-links">
      <%= link_to 'Home', '/' %>
      <%= link_to 'Index', '/index' %>
    </div>
    <div class="school-search">
    <%= render 'search' %>
    </div>
  </div>

<h1>Services</h1>
<div class="school-table">
<%= render 'table' %>
</div>


<p id="notice"><%= notice %></p>
</div>
