<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <% if @school.nil? %>
  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.text_field :school_id %>
  </div>
<% else %>
  <%= f.hidden_field :school_id, value: @school.id %>
<% end %>

  <div class="field">
    <%= f.text_area :bio, placeholder: :bio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
