<%= form_for(student) do |f| %>
<% if student.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(student.errors.count, "error") %>
        prohibited this student from being saved:</h2>

    <ul>
        <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="columns">
    <div class="align-center">
        <%= f.text_field :name, placeholder: :name %>
    </div>

    <%= f.hidden_field :school_id, value: @school.id %>

    <div class="align-center">
        <%= f.text_area :bio, placeholder: :bio %>
    </div>

    <div class="align-center">
        <%= submit_tag @tag, name: f, class: 'button' %>
    </div>
    </div>

    <% end %>
