<table>
  <caption>Student</caption>

    <thead>
        <tr>
            <th>Name</th>
            <th>Bio</th>
            <th>School</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @student.name %>
                <%= link_to fa_icon('pencil'), edit_student_path(@student) %>
                <%= link_to fa_icon('trash'), @student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= @student.bio %></td>
            <td><%= @student.school.name %></td>
        </tr>
    </tbody>
</table>
