<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student %>   <%= link_to fa_icon('pencil'), edit_student_path(student) %>   <%= link_to fa_icon('trash'), student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= student.school.name %></td>
        <td><%= student.bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>
