    <table class="hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Bio</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
            <tr>
                <td><%= link_to student.name, student %>
                    <%= link_to fa_icon('pencil'), edit_student_path(student) %>
                    <%= link_to fa_icon('trash'), student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= student.bio %></td>
                <td><%= student.school.name %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
