<div class="container">

<div class="top-bar">
  <div class="links" id="mid">
    <%= link_to fa_icon('home'), '/' %>
    <%= link_to fa_icon('book'), '/index' %>
    <%= link_to fa_icon('chevron-left'), schools_path %>
    <%= link_to fa_icon('chevron-right'), services_path %>
  </div>
  <div class="top-bar-right">
      <ul class="menu">
          <%= render 'search' %>
      </ul>
  </div>
</div>

<h1 class="row align-center">Students</h1>
<%= render 'table' %>


<p id="notice"><%= notice %></p>
</div>
