<h1>Student</h1>

<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @student.name %>
</p>

<p>
    <strong>School:</strong>
    <%= link_to @student.school.name, @student.school %>
</p>

<p>
    <strong>Bio:</strong>
    <%= @student.bio %>
</p>

<h3>Services</h3>
<% @student.services.each do |service| %>
<p>
    <%= service.title %>
    <%= service.description %>
    <%= link_to 'Show', service %>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <br>
    Added on:
    <%= service.created_at %>
</p>
<% end %>

<h3>New Service</h3>
<%= render 'services/form', service: @service %>

<%= link_to 'Edit', edit_student_path(@student) %>
|

<% if @student.school.nil? %>
<%= link_to 'Back', students_path %>
<% else %>
<%= link_to 'Back', @student.school %>
<% end %> |
<%= link_to 'Home', '/' %>
