<%= form_for(bid) do |f| %>
<button class="button" type="button" data-toggle="create-bid">Make an offer</button>
<div class="dropdown-pane" id="create-bid" data-dropdown data-auto-focus="true">
    <% if bid.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(bid.errors.count, "error") %>
            prohibited this bid from being saved:</h2>

        <ul>
            <% bid.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="columns">
        <%= f.text_field :title, placeholder: :title %>
        <%= f.text_area :description, placeholder: :description %>
        <%= f.text_field :student_id, placeholder: :student_id %>
        <%= f.hidden_field :service_id, value: @service.id %>
        <%= submit_tag @tag, name: f, class: 'button expanded' %>
    </div>
    <% end %>
</div>
