
    <table class="hover">
      <caption><%= link_to 'Bids', bids_path %></caption>

        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Student</th>
                <th>Service</th>
            </tr>
        </thead>

        <tbody>
            <% @bids.each do |bid| %>
          <tr>
    <td><%= link_to bid.title, bid%>
        <!-- <%= link_to fa_icon('pencil'), edit_bid_path(bid) %>
        <%= link_to fa_icon('trash'), bid, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </td>
    <td><%= bid.description %></td>
    <td><%= link_to bid.service.title, bid.service %></td>
    <td><%= link_to bid.student.name, bid.student %></td>
</tr>
            <% end %>
        </tbody>
    </table>
