<div class="top-bar">
    <div class="links" id="mid">
        <%= link_to fa_icon('home'), '/' %>
        <%= link_to fa_icon('book'), '/index' %>
        <%= link_to fa_icon('chevron-left'), services_path %>
        <%= link_to fa_icon('chevron-right'), schools_path %>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <%= render 'search' %>
        </ul>
    </div>
</div>

<div class="row align-center small-3">
    <%= render 'table' %>
</div>

<p id="notice"><%= notice %></p>
