<div class="row">

    <div class="column align-left">
        <%= link_to 'Schools', schools_path%>
        <%= render 'schools/table' %>
    </div>

    <div class="column align-center">
        <%= link_to 'Students', students_path%>
        <%= render 'students/table' %>
    </div>

    <div class="column align-right">
        <%= link_to 'Services', services_path %>
        <%= render 'services/table' %>
    </div>
</div>
