<div class="flexy" id="index-box">

<div class="flexy">
<%= link_to 'Schools', schools_path, class: 'link' %>
<%= render 'schools/table' %>
</div>

<div class="flexy">
<%= link_to 'Students', students_path, class: 'link' %>
<%= render 'students/table' %>
</div>

<div class="flexy">
<%= link_to 'Services', services_path, class: 'link' %>
<%= render 'services/table' %>
</div>
