<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="new-school-line">
  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>

  <div class="field">
    <%= f.text_field :location, placeholder: :location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>
<% end %>
