<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="align-center">

    <%= f.text_field :name, placeholder: :name %>
  </div>

  <div class="align-center">
    <%= f.text_field :location, placeholder: :location %>
  </div>

  <div class="align-center">
        <%= submit_tag @tag, name: f, class: 'button' %>
  </div>
</div>

<% end %>
