<div class="school-body">
<div class="school-contents">

<p id="notice"><%= notice %></p>

<div class="school-search">

<%= form_tag(schools_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "school name" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @schools.find_by(name: @search) %>
<% @schools = @schools.where(name: @search) %>
<% end %>
</div>

<div class="school-table">

<h1>Schools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school %></td>
        <td><%= school.location %></td>
        <!-- <td><%= link_to fa_icon('eye'), school %></td> -->
        <td><%= link_to fa_icon('pencil'), edit_school_path(school) %></td>
        <td><%= link_to fa_icon('trash'), school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="school-links">

<%= link_to 'New School', new_school_path %> |
<%= link_to 'Home', '/' %> |
<%= link_to 'Index', '/index' %>
</div>
</div>
</div>
