<div class="school-body">

<div class="school-nav">
  <div class="school-links">
  <%= link_to 'New School', new_school_path %>
  <%= link_to 'Home', '/' %>
  <%= link_to 'Index', '/index' %>
  </div>
  <div class="school-search">
  <%= render 'search' %>
  </div>
</div>

  <h1>Schools</h1>


    <div class="school-table">
    <%= render 'table' %>
    </div>


  <p id="notice"><%= notice %></p>
</div>
