<div class='top-bar'>

    <div class="menu align-left">
        <%= render 'home/links' %>
        <li><%= link_to fa_icon('chevron-up'), schools_path %></li>
    </div>

    <div class="menu align-right">
        <%= render 'students/drop-form', student: @student %>
    </div>
</div>
<div class="columns align-center">
    <div class="row align-center small-3">
        <%= render 'school-table' %>
    </div>

    <div class="row align-center small-3">
        <%= render 'students/table' %>
    </div>

    <div class="row align-center small-3">
        <%= render 'services/table' %>
    </div>
    
</div>
<p id="notice"><%= notice %></p>
