<h1>School</h1>

<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @school.name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @school.location %>
</p>

<h3>Students</h3>
<% @school.students.each do |student| %>
<p>
    <%= link_to student.name, student %>
    <br>
    Added on:
    <%= student.created_at %>
</p>
<% end %>

<h3>New Student</h3>
<%= render 'students/form', student: @student %>

<h3>Services</h3>
<% @school.students.each do |student| %>
<p>
    <% if student.school == @school && student.services.length > 0 %>
    <h4><%= student.name %></h4>
    <% student.services.each do |service| %>
    <li>
        <%= link_to service.title, service %>
        <br>
        <%= service.description %>
    </li>
    <% end %>
    <% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_school_path(@school) %>
|
<%= link_to 'Back', schools_path %>
|
<%= link_to 'Home', '/' %>
|
<%= link_to 'Index', '/index' %>
